*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.sal{
  display: flex;
  flex-direction: column;
}
.box{
    display:flex;
    align-items: center;
   
}
#calc{
    display:none;
    flex-direction: column;
    align-items: center;

}

.tkC,.healthC{
  display: none;
}
#monthsWorked{
  display: none;
}
.header {
    padding: 15px;
    text-align: center;
    background: #ffeba7;
    color: #102770;
    font-size: 15px;
    width: 300px;
    border-radius: 6px;
    font-family: sans-serif;
    
  }

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

body{
  background-color: #1f2029;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:0;
  

}
div{
  margin: 10px 0;
}
.cTtitle{
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.15em;
}
.title {
    text-align:center;
   
    text-transform:uppercase;
    font-size:26px; letter-spacing:1px;
    
    display: flex;
    align-items: center;

    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }

  .salInput>input{
    width:100%;
    border-radius: 0.375rem;
    color:black;
  }

  .input{
    display:flex;
    align-items:center;
    justify-content: space-between;
    
  }
  /* h1{
    font-weight: 600;
  } */

  label {
     background: #EEE; border-color: #BBB; 
    }
  label{
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
    border-radius: 0.25em;
    border-style: solid;
  }

  .checkBox{
    display:flex;
    flex-direction: column;

  }

  .footer {

    width: 100%;
    background-color:#1abc9c;
    color: white;
    text-align: center;
    position:relative;
    bottom:0;
    margin:0;
    font-size: 1.2em;
    border-radius: 5px;


  

 }
  tr:nth-of-type(even) td {
  background-color: #353641;
}
 td {
  border: 1px solid black;
  color:white;
  background-color: #2a2b38;
  padding: 8px;
}
#container{
  background-color: #2a2b38;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg);
  padding: 16px;
  border-radius: 6px;
  width: 300px;
}
#final td{
  font-weight: bold;
  background-color: #393030;

}
#calcmWork{
  color:white;
}
table {
  border-collapse: collapse;
  font-family: sans-serif;
  border-radius: 13px;
  overflow: hidden;
}
  /* .title:after,.title :before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color:#f8f8f8;
  } */
  
  .tTitle{
    background-color: #333;
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2%;
  }
  tr:hover td{
    background-color: grey;
  }
select ,.months{
  width:100%;
}

.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}