*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
.sal{
  display: flex;
  flex-direction: column;
}
.box{
    display:flex;
    align-items: center;
   
}
#calc{
    display:none;
    flex-direction: column;
    align-items: center;

}

.header {
    padding: 30px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 15px;
  }

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
  
}

body{
  padding : 0 250px;
}
div{
  margin: 10px 0;
}

.title {
    text-align:center;
   
    text-transform:uppercase;
    font-size:26px; letter-spacing:1px;
    
    display: flex;
    align-items: center;

    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
  }

  .input{
    display:flex;
    align-items:center;
    justify-content: space-between;
  }

  label {
     background: #EEE; border-color: #BBB; 
    }
  label,.td{
    border-width: 1px;
    padding: 0.5em;
    position: relative;
    text-align: left;
    border-radius: 0.25em;
    border-style: solid;
  }

  .checkBox{
    display:flex;
    flex-direction: column;

  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#1abc9c;
    color: white;
    text-align: center;
 }

 table, th, td {
  border: 1px solid black;
}
  /* .title:after,.title :before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color:#f8f8f8;
  } */
  